html{
  background-color: powderblue;
  background-position: center;
  background-size: cover;
}


details summary > * {
  display: inline;
  /* display: inline-block; */
  cursor: pointer;
  
}

body {
  background-color: powderblue;
}
h1 {
  color: black;
}

h3 {
  text-align: center;
}

footer{
  text-align: center;
}

a {
  color: rgb(42, 139, 224);
  /* text-align: center; */
}

a:visited {
  color: rgb(53, 113, 186);
}

a:hover,a:active {
  color: rgb(88, 125, 164);
}

/* tutorial */

/* nav {
  margin: 27px auto 0;
  position: relative;
  width: 590px;
  border-radius: 8px;
  font-size: 0;
}

nav a{
  line-height: 100%;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  color: white;
}

nav .animation{
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}

a:nth-child(1){
  width: 100px;
}

a:nth-child(2){
  width: 110px;
}

a:nth-child(3){
  width: 100px;
}

nav .start-explanation, a:nth-child(1):hover~.animation{
  width: 100px;
  left:0;
  background-color: antiquewhite;
}
nav .start-categories, a:nth-child(2):hover~.animation{
  width:110px;
  left: 100px;
  background-color: antiquewhite;
}

nav .start-resources, a:nth-child(3):hover~.animation{
  width: 120px;
  left: 210px;
  background-color: antiquewhite;
}

end of turotial */


/* #resources{
  text-align: left;
}

#ctfcategorieslist{
  text-align: left;
} */

section{
  text-align: left;
}

#ctfcatogorieslist{
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(140, 140, 250);
  width: 600px;
}

.paragraphSimple{
  padding: 10px;
  width: 1300px;
  float: center;
  margin: auto;
}

.paragraphBorder{
  padding: 10px;
  width: 80%;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(140, 140, 250);
  float: center;
  margin: auto;
}

.paragraphChallenge{
  padding: 20px;
  width: 60%;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(140, 140, 250);
  float: center;
  margin: auto;
}



dl{
  padding: 10px;
  width: 80%;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(140, 140, 250);
  float: center;
  margin: auto;
}


details summary > * {
  display: inline;
}

details summary { 
  cursor: pointer;
}